
/* THE GLOBAL SETTINGS---------------------*/


blockquote {
	width: 80%;
	font-size: 1.1em;
	font-weight: bold;
	font-style: italic;
	padding: 2em 0 1em 2em;
	margin: 0;
	color: #285CA0;
}
/* THE BLUE BANNER---------------------*/



.top_new {

	width: 12em;
	height: 4em;
	float: right;
	color: #FFFFFF;
	padding: 1em 1em 0 0.3em;
}
.top_new img {

	width: 90%;
	position: relative;
	top: -8px;
}
.top_new img:hover {
	width: 100%;
	
}
#menu_utility {
	width: 35%;
	float: left;
	padding: 0.5em 0.1em;
	background-color: #4573B7;
	box-shadow: 1em 1em 0.5em #03a;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
ul.menu {
	list-style-type: none;
	display: block;
	width: auto;
	margin: auto;
	padding: 0;
	background: none;
}
ul.menu li {
	display: inline;
	font-size: 1.3em;
	line-height: 2em;
}
a.nav {
	float: left;
	padding: 0;
	margin: 0;
	width: 20%;
	text-align: center;
	color: #ffffff;
	text-decoration: underline;
}
a.nav:link, a.nav:visited {
	float: left;
	padding: 0;
	margin: 0;
	width: 20%;
	text-align: center;
	color: #FFFFFF;
	text-decoration: underline;
}
a.nav_selected:link, a.nav_selected:visited {
	float: left;
	padding: 0;
	margin: 0;
	width: 20%;
	text-align: center;
	color: #F09000;
	text-decoration: none;
}
a.nav:hover {
	color: #F09000;
	text-decoration: underline;
}
form.search {

	width: 25em;
	height: 1em;
	float: right;
	clear: right;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 14em 0 0;
	color: #ffffff;
}
.search fieldset{
	border: none;
	padding: 0;
	margin: 0;
}
.social {

	width: 12em;
	height: 1em;
	float: right;
	clear: right;
	padding: 5em 0 0 0;
}
.social img {
	width: 50px;
	height: 50px;
}
.social img:hover {
	width: 50px;
	height: 50px;
	background-color: #E9ECF8;
	border-radius: 3em;
	opacity: 0.8;
	box-shadow: 0em 0em 4em #E9ECF8;
}
/* THE GREEN GLOBAL NAVIGATION BAR---------------------*/
nav {
	width: auto;
	padding: 0.5em 0 0 1em;
	background-color: #88C059;
	color: #FFFFFF;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
}
#main_nav li {
	background-color: #88C059;
}
#sddm {
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 30
}
#sddm li {
	margin: 0;
	padding: 1% 1.5%;
	width: 17%;
	list-style: none;
	float: left;
	font: bold 11px arial;
}
.parent1, .parent2, .parent3, .parent4, .parent5 {
	display: block;
	margin: 0;
	height: 3.7em;
	padding: 10% 0 0 5%;
	background-size: contain;
	background-position: top left;
	background-repeat: no-repeat; /*background:#d9dCe8;*/
	border-radius: 1em;
	color: #FFFFFF;
	text-align: left;
	font-size: 1.2em;
	text-decoration: none;
	z-index: 50;
}
.parent1 {
	background-image: url(../images/main_web.png);
}
.parent2 {
	background-image: url(../images/main_prog.png);
}
.parent3 {
	background-image: url(../images/main_databases.png);
}
.parent4 {
	background-image: url(../images/main_editing.png);
}
.parent5 {
	background-image: url(../images/main_browser.png);
}
#sddm li a:hover {
	color: #F09000;
}
#sddm div {
	position: absolute;
	visibility: hidden;
	width: 15%;
	min-width: 102px;
	max-width: 153px;
	margin: -13px 0 0 0;
	padding: 0 0 10px 0;
	background-image: url(../images/dd.png);
	background-position: left bottom;
	background-size: cover;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	z-index: 1;
}
#sddm div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	height: 1em;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	overflow: hidden;
	color: #FFFFFF;
	font: 11px arial
}
#sddm div a:hover {
	color: #F09000;
	border-radius: 1em;
}

/* THE MAIN CONTENT COLUMNS---------------------*/
section {

	width: 100%;
	float: left;
	padding: 0;
	background-color: #F5F5F5;
}
aside {
	position: relative;
	padding: 0;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	color: #000000;
	background: #A8E079;
	border-radius: 10px;
	box-shadow: 1em 1em 2em #88C059;
	
}
aside h4 {
	padding: 1em 0 0 1em;
	color: #000000;
	text-align: center;
	text-decoration: blink underline;
	
}
aside p {
	padding: 1em 1em 1em 1em;
	color: #535353;
}
.left_text_scan {
	width: 25%;
	height: 80em;
	float: left;
	background-color: #F9F9FF;
}
.left_text_scan ul {
	text-decoration: none;
	list-style: none;
	text-indent: -5%;
}
.left_text_scan ul li {
	font-size: 1.3em;
	padding-bottom: 0.3em;
}
.left_text_scan ul li a {
	text-decoration: none;
	list-style: none;
	color:#285CA0;
}
.left_text_scan ul li a:hover {
	text-decoration: none;
	list-style: none;
	color:#285CA0;
	background-color: #69c3FF;
}
ul .sub_list li {
	font-size: 0.9em;
}
#current {
	font-weight: bold;
	color: #F90;
	font-size: 1.1em;
}
.updates_heading {
	padding: 0 1em 0 2em;
	color: #285CA0;
	font-weight: bold;
	font-size: 1.1em;
}
.updates_sub {
	padding: 0 1em 0 2em;
	font-weight: bold;
	color: #000000;
	font-size: 1em;
}
.updates_description {
	color: #999999;
	padding: 0 2em 0 2em;
	font-size: 1em;
	text-align: left;
}

.right_text_content {
	width: 67%;
	float: left;
	padding: 1em 1em 1em 2em;
	font-size: 1.1em;
}
#breadcrumb {
	font-size: .8em;
	font-weight: bold;
	color: #285CA0;
}/*we need an script for this*/
#site_map {
	list-style: none;
	font-size: 1.5em;
	text-decoration: none;
}
#site_map ul {
	list-style: none;
	font-size: 1em;
	text-decoration: none;
}
#site_map li {
	list-style: none;
	font-size: 1em;
	text-decoration: none;
	padding-bottom: 1%;
	padding-top: 1%;
}
caption {
	display: none;
}


/* - - - End Form set up - - - - - - - - - - - - */

/*---------------footer----------------*/

